# .env
PORT=3000
JWT_SECRET=gym_diary_super_secret_key_2024

# TiDB Cloud Configuration
DB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=4Rho9wox3gTj2Hv.root
DB_PASSWORD=e4UUVw86RYqWv5HU
DB_NAME=gym_diary